import(kwb.utils)
importFrom("lattice","xyplot")
importFrom("hydroGOF","gof")
import(plotrix)
import(reshape)
importFrom("grDevices", "dev.off", "grey", "png", "rainbow")
importFrom("graphics", "abline", "legend", "lines", "par", "plot",
           "points", "rect", "segments", "text")
importFrom("stats", "as.formula", "rnorm")
importFrom("utils", "read.table", "type.convert")
exportPattern(".*")
